body {
  background: linear-gradient(0deg, #000000 0%, #666666 50%, #383838 100%);
  color: white;
  font-family: "Inter", sans-serif;
}

/* Custom gradient background */
.custom-gradient-bg {
  background: linear-gradient(0deg, #000000 0%, #666666 50%, #383838 100%);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");

.custom-heading {
  @apply text-gray-700 block mb-8 pt-5 text-center;
  font-family: "Inter", sans-serif;
  color: #f8f4f4;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 24px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: bold;
  line-height: 33.6px;
  text-size-adjust: 100%;
  unicode-bidi: isolate;
  width: 1180px;
  height: 33.5938px;
  text-align: center;
}

.custom-button {
  @apply bg-teal-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-teal-700 transition duration-300 ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.sign-in-button {
  @apply bg-gray-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-gray-700 transition duration-300 ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 5px;
}

@layer components {
  /* Custom styles for the trending music section */
  .trending-music {
    @apply bg-gray-100 py-8 px-4;
  }

  .albums {
    @apply grid grid-cols-6;
  }

  .track {
    @apply bg-white rounded shadow-md overflow-hidden;
  }

  .track img {
    @apply w-full h-48 object-cover;
  }

  .track-info {
    @apply p-4;
  }
  .track-info h3 {
    @apply text-white font-bold;
  }
  .track-info p {
    @apply text-white;
  }
  .user-account-section p {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .user-account-section h2 {
    @apply text-white text-3xl font-bold text-center mb-4;
  }

  .centered-header {
    @apply flex flex-col items-center justify-center text-center;
  }
  .footer-icons {
    @apply flex space-x-4 items-center;
  }

  .footer-icons a {
    @apply text-white text-xl;
  }
}
